html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: rgb(200, 200, 200);
	margin: 0px;
	padding: 0px;
}

#navMenu {
	margin-bottom: 1%;
	background-color: white;
	height: 15%;
}

#login {
	vertical-align:top;
	position: relative;
	float: left;
	width: 54%;
	height: 25%;
	margin: 6%;
	margin-right: 2%;
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 1%;
	
	background-color: rgb(100,100,100);
	background-color: rgba(50,50,50,0.5);
}

#signUp {
	vertical-align:top;
	position: relative;
	float: left;
	width: 26%;
	height: 25%;
	margin: 6%;
	margin-left: 2%;
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 1%;
	
	background-color: rgb(100,100,100);
	background-color: rgba(50,50,50,0.5);
}

#loginUsername, #loginPassword {
	width: 60%;
}

#loginUsername {
	position: absolute;
	left: 3%;
	top: 15%;
	bottom: 60%;
}

#loginPassword {
	position: absolute;
	left: 3%;
	bottom: 15%;
	top: 60%;
}

#loginButton {
	position: absolute;
	top: 16%;
	bottom: 50%;
	right: 5%;
	left: 68%;
	border-radius: 10px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px dashed #000000;
}

#googleLogin {
	position: absolute;
	top: 62%;
	bottom: 16%;
	right: 5%;
	left: 68%;
	
	padding: 8px;
	padding-left:;
	padding-right:;
	
	font: 14px roboto;
	color: rgba(0,0,0,0.54);
	
	text-align: center;
	background-color: white;
	border-radius: 5px;
}

footer {
	position: absolute;
	background-color: white;
	
	width: 100%;
	height: 10%;
	bottom: 0%;
	padding-top: 1%;
	padding-bottom: 0.25%;
	
	text-align: center;
	color: rgb(100,100,100);
}