html, body {
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: Oxygen;
    src: url('fonts/Oxygen/Oxygen-Regular.ttf');
}

body {
	background-color: rgb(200, 200, 200);
	margin: 0px;
	padding: 0px;
	font-family: Oxygen;
}

#navMenu {
	margin-bottom: 1%;
	background-color: white;
	height: 15%;
	
	background: rgb(118,197,213); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(118,197,213,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(118,197,213,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(118,197,213,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c5d5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
}
/*
Switch to pixels
Fix footer
*/
#inline {
	text-align: center;
}

#login {
	vertical-align:top;
	position: relative;
	display: inline-block;
	margin: 80px 50px;
	padding: 12px;
	height: 250px;
	width: 950px;
	background-color: rgb(100,100,100);
	background-color: rgba(50,50,50,0.5);
}

#signUp {
	vertical-align:top;
	position: relative;
	display: inline-block;
	width: 400px;
	height: 550px;
	margin: 80px 50px;
	padding: 12px;
	background-color: rgb(100,100,100);
	background-color: rgba(50,50,50,0.5);
}

#loginUsername, #loginPassword {
	font: 18px Oxygen;
	width: 560px;
	height: 45px;
	position: absolute;
}

#loginUsername {
	top: 60px;
	left: 60px;
}

#loginPassword {
	bottom: 60px;
	left: 60px;
}

#loginButton {
	position: absolute;
	top: 60px;
	right: 60px;
	
	width: 220px;
	height: 70px;
	
	background-color: rgb(140,140,140);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgb(200,200,200);
}

#googleLogin {
	position: absolute;
	bottom: 60px;
	right: 60px;
	
	width: 220px;
	height: 53px;
	
	text-align: center;
	background: url('google/light_normal_web.png') 0px/100% 100% no-repeat;
	border-radius: 5px;
}

footer {
	border-top: 2px dashed rgb(120,120,120);
	background-color: rgb(255,255,255);
	
	margin-top: 1%;
	width: 100%;
	height: 10%;
	padding-top: 1%;
	padding-bottom: 0.25%;
	
	font: 18px/25px Oxygen;
	text-align: center;
	color: rgb(140,140,140);
}
